@model TicketVerkoop.ViewModels.ShoppingCartVM

<partial name="_NotificationWithToastr" />

<div class="container">
<form asp-action="Payment">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-light text-light ml-0">
				<div class="row">
					<div class="col-6  pt-2 text-dark">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						<strong>Winkelmandje</strong>
					</div>
					<div class="col-6 text-end">
						<a asp-controller="Wedstrijden" asp-action="Index" class="btn btn-outline-dark btn-sm">Naar de wedstrijdkalender</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				@if (Model == null)
				{
				<div class="row">
					<div class="col-12 col-lg-6 pt-md-3">
						<h5>
							U voegde nog geen items toe aan uw winkelmandje
						</h5>
					</div>
				</div>
				}else{
				@foreach(var item in Model.Cart){
				<div class="row">
					<div class="col-12 col-lg-6 pt-md-3">
						@if(@item.NaamUitPloeg != null){
						<h5><strong>@item.NaamThuisPloeg - @item.NaamUitPloeg </strong></h5>
							<p><small>[@item.wedstrijdDatum.ToString("dd/MM/yyyy")] &nbsp; @item.Stadion </small></p>		
						}
						else
						{
							<h5><strong>@item.NaamThuisPloeg</strong></h5>
							<small>(Abonnement) </small>
						}
						
						
					</div>
					<div class="col-12  col-lg-5 text-center row">
						<div class="col-4 text-md-right pt-4">
							<h6><strong>@item.Prijs.ToString("c")
								<span class="text-muted"> &nbsp; x &nbsp;</span> @item.Aantal </strong></h6>
						</div>
									@if (item.ClubNr == 0)
									{
										<div class="col-6 col-sm-4 col-lg-6 pt-2">
											<div class="w-75 btn-group" role="group">
												<a asp-action="increment" asp-route-cartId="@item.Id" class="btn btn-primary">
													<i class="bi bi-plus-square"></i>
												</a> &nbsp;
												<a asp-action="decrement" asp-route-cartId="@item.Id" class="btn btn-warning">
													<i class="bi bi-dash-square"></i>
												</a>
											</div>
										</div>
									}
									else
									{
										<div class="col-6 col-sm-4 col-lg-6 pt-2">
											<div class="w-75 btn-group" role="group">
											</div>
										</div>
									}
									<div class="col-2 col-sm-4 col-lg-2 text-right pt-2">
							<a asp-action="delete" asp-route-cartId="@item.Id" class="btn btn-danger">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>
					</div>
				</div>
				<hr />
				}}
				@if (Model == null)
				{
					<div class="row">
					<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<span class="text-dark"> Total (EUR)</span>
								<strong class="text-dark">0</strong>
							</li>
						</ul>
					</div>
				</div>
				} else{				
				<div class="row">
					<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<span class="text-dark"> Total (EUR)</span>
								<strong class="text-dark">@Model.totaalPrijs.ToString("c")</strong>
							</li>
						</ul>
					</div>
				</div>
				}
			</div>

			<div class="card-footer">
				@if (Model == null)
				{
					<div class="card-footer row">
					</div>
				} else
				{
					{
					<div class="card-footer row">
						<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
							<input type="submit" value="Bestel" class="btn btn-info form-control" />
						</div>
					</div>
				}
				}
			</div>
		</div>
	</div>
</form>

</div>